
<div class="main-content" style="margin-left:0px;" id="kevin">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">安居客控制台</li>
            <li class="active">员工管理</li>
            <li class="active">员工信息</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row">

            <div class="col-xs-12">

                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace" onclick="quanxuan()" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>员工姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>职务名称</th>
                                <th>入职时间</th>
                                <th>薪资</th>
                                <th>操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.getEmp)
                            {
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td>@item.EName</td>
                                    <td>@item.ESex</td>
                                    <td>@item.EAge</td>
                                    <td>@item.DName</td>
                                    <td>@item.EStartTime</td>
                                    <td>@item.ESalary</td>
                                    <td>
                                        <div class="ui-pg-div" style="display:inline-block" onclick="putemp(@item.EmployeeId)"><span class="ui-icon icon-pencil blue"></span></div>
                                        <div class="ui-pg-div" style="display:inline-block" onclick="delemp(@item.EmployeeId)"><span class="ui-icon icon-trash red"></span></div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /span -->
        </div><!-- /row -->
        <div class="box" id="box" style="width:250px;height:80px;z-index:1024;font-size:24px;font-family:微软雅黑;line-height:80px;padding-left:75px;background-color:#bcf5c2;float:left;margin-left:40%;color:#159753;display:none"> 删除成功！</div>

        <div class="box" id="putEmpTanK" style="width:250px;height:80px;z-index:1024;font-size:24px;font-family:微软雅黑;line-height:80px;padding-left:75px;background-color:#bcf5c2;float:left;margin-left:40%;color:#159753;display:none"> 修改成功！</div>



    </div><!-- /.page-content -->
</div><!-- /.main-content -->


<script>

</script>
<script>
    function delemp(id) {
        $.ajax({
            url: "/HPMS/K_DelEmp/?id=" + id,
            type: "get",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    $("#box").css("display", "inline");
                    setTimeout("tishiclose()", 1000);
                } else {
                    alert("删除失败！");
                }
            }
        })
    }
    function tishiclose() {
        $("#box").css("display", "none");
    }

    function putemp(id) {
        $.ajax({
            url: "/HPMS/K_PutEmpById/?id=" + id,
            type: "get",
            dataType: "json",
            success: function (data) {
                if (data != null) {

                }

            }
        })
    }
    function qdPutEmp() {
        var p = new Object();
        p.EName = $("#ename").val();
        p.ESex = $("#esex").check ? "男" : "女";
        p.EAge = $("#eage").val();
        p.ESalary = $("#esalary").val();

        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;

        p.EStartTime = currentdate;

        var option = $("#zhiwu option:selected");
        p.DId = option.val();

        if (p.EName == "") {
            document.getElementById('ename').value = "";
            document.getElementById('ename').placeholder = "信息未录入，请填写员工姓名！";
        }
        if (p.EAge == "") {
            document.getElementById('eage').value = "";
            document.getElementById('eage').placeholder = "信息未录入，请填写员工年龄！";
        }
        if (p.ESalary == "") {
            document.getElementById('esalary').value = "";
            document.getElementById('esalary').placeholder = "信息未录入，请填写员工月薪！";
        }
        $.ajax({
            url: "/HPMS/K_PutEmp",
            type: "post",
            dataType: "json",
            data: { emp: JSON.stringify(p) },
            success: function (data) {
                if (data > 0) {
                    quxiao();
                    $("#putEmpTanK").css("display", "inline");
                    setTimeout("putEmpTanKclose()", 1000);
                }
            }
        })

    }
    function putEmpTanKclose() {
        $("#putEmpTanK").css("display", "none");
    }
</script>
<script>
    //显示模态框点击事件
    $(".cart-add").click(function () {
        $(".bg-model").fadeTo(300, 1)
        //隐藏窗体的滚动条
        $("body").css({ "overflow": "hidden" });
    });

    //模态框OK按钮点击事件
    $(".bg-model-ok").click(function () {
        $(".bg-model").hide();
        //显示窗体的滚动条
        $("body").css({ "overflow": "visible" });
    }).hover(function () {
        $(this).css({ "backgroundColor": "#8CC8C8" });
    }, function () {
        $(this).css({ "backgroundColor": "#8CD4E6" });
    });
</script>