
<div class="main-content" style="margin-left:0px">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">房源管理</li>
            <li class="active">发布记录</li>
        </ul><!-- .breadcrumb -->
    </div>



    <div class="page-content">

        @{
            foreach (var item in ViewBag.list)
            {
                if (item.Remark == "空闲")
                {

                    <div id="@item.PBId" style="width:200px;height:200px;margin-right:20px;background-color:#808080">
                        <p>车位编号：<span>@item.PBNumber</span></p>
                        <p>面积：<span>item.PBArea</span> 价格：<span>@item.PBPrice</span></p>
                        <p>车位类型：<span>@item.PBType</span></p>
                        <p>车位位置：<span>@item.PBPlace</span></p>
                        <p>车位状态：<span>@item.Remark</span></p>
                        <p>
                            <input id="Button1" type="button" value="出租" />
                            <input id="Button1" type="button" value="删除" onclick="Del('+@item.PBId+')" />
                        </p>
                    </div>
                }
                else
                {
                    <div id="@item.PBId" style="width:200px;height:200px;margin-right:20px;background-color:#f7f0f0">
                        <p>车位编号：<span>@item.PBNumber</span></p>
                        <p>面积：<span>item.PBArea</span> 价格：<span>@item.PBPrice</span></p>
                        <p>车位类型：<span>@item.PBType</span></p>
                        <p>车位位置：<span>@item.PBPlace</span></p>
                        <p>车位状态：<span>@item.Remark</span></p>
                        <p>
                            <input id="Button1" type="button" value="查看" />
                        </p>
                    </div>
                }
            }
        }
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

<script>
    function Del(id) {
        if (confirm("确认删除吗？")) {
            $.ajax({
                url: "/HPMS/DelParkBase?Id=" + id,
                async: false,
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data > 0) {
                        $("#" + Id).remove();
                    }
                }
            });
        }
    }
</script>